/* General */
* {
    box-sizing: border-box;
}

html {
    background-color: #fafafa;
}

p {
    margin-top: 1rem;
}

/* Navigation - nav */

.nav-container {
    display: flex;
    background-color: #fafafa;
    font-size: 2em;
    font-family: "Kanit";
}

.nav-container a {
    color: black;
    text-decoration: none;
}

.nav-container {
    display: flex;
}

.nav-item {
    padding: 0 1.05rem;
    flex: 0 1 5%;
}

.nav-item img {
    height: 90%;
    width: 100%;

}

.nav-tabs {
    transition: background-color 0.3s 0.3s ease;
}

nav .nav-tabs:hover {
    background-color: #d11754;
    transition: background-color 0.3s 0.3s ease;
}

.fa-gamepad {
    margin-left: 0.7em;
}

/* Main Backdrop - index.html */

.backdrop-container {
    margin: 0;
    max-width: 100%;
    color: black;
    width: 100%;
    height: 55vh;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.backdrop-welcome {
    flex: 0 1 40%;
}

.backdrop-about {
    flex: 0 1 40%;
}

.backdrop-about img {
    height: 100%;
    width: 100%;
}

.backdrop h1 {
    font-size: 3em;
    font-family: 'Archivo Black';
}

.backdrop p {
    font-size: 1.2em;
    font-family: 'Montserrat';
}

.backdrop h1,
.backdrop p {
    vertical-align: center;
}

/* About */

.about-container {
    margin: 0;
    max-width: 100%;
    color: black;
    width: 100%;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-item {
    flex: 0 1 30%;
}

/* Game Description Backdrop */

.game-backdrop {
    height: 55vh;
    object-fit: cover;
    display: block;
}

.game-backdrop img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Search */

.search-container {
    border-radius: 7px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px grey);
    display: flex;
    width: 90%;
    margin: 15px auto;
}

.search-input {
    flex: 0 1 80%;
}

.search-input input {
    border: none;
    border-radius: 7px;
    width: 100%;
    height: 100%;
    padding: 0 1%;
}

.search-button {
    flex: 0 1 20%;
    text-align: center;
    background-color: grey;
    border-radius: 0 7px 7px 0;
    color: white;
    transition: background-color 0.3s ease;
    margin-left: 0.1%;
}

.search-button:hover {
    background-color: #d11754;
}

/* Filter */

.filter-container {
    border-radius: 7px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px grey);
    display: flex;
    width: 90%;
    margin: 15px auto;
    flex: 1;
    justify-content: space-evenly;
    padding-top: 10px;
}

.filter-item {
    text-align: center;
}

input.filter {
    margin-right: 5px;
}

/* Gallery */

.gallery-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.gallery-item {
    flex: 0 1 26.7%;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px grey);
    margin-bottom: 1.01rem;
    height: 37rem;
    overflow: hidden;
    overflow-y: scroll;
}

.gallery-item h1,
.gallery-item p {
    padding: 0 5%;
}

.gallery-image {
    height: 50%;
}

.gallery-image img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Game Page - Not Cleaned Up Yet*/

.game-desc .col-sm-4 {
    background-color: grey;
    border-radius: 15px;
}

.game-desc .col-sm-6 {
    position: relative;
    right: 20px;

}

.game-desc .col-sm-4 {
    position: relative;
    bottom: 30px;
}

.row.stats {
    padding: 30px;
}

.row.url {
    color: white;
    background-color: #d11754;
    border-radius: 0 0 15px 15px;
    padding: 5px;
}

.row.url p {
    text-align: center;
}

/* Footer */

footer {
    background-color: #1C1B22;
    color: white;
}

footer p {
    margin-top: 0;
    margin-bottom: 0;
}