/* General */
* {
    box-sizing: border-box;
}

html,
body {
    background-color: #000002;
}

/* Header */

header {
    background-image: url(../public/img/header.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    height: 80vh;
}

.overlay {
    background: rgba(0, 0, 0, 0.8);
    height: 80vh;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-container {
    display: flex;
    flex-direction: row;
    height: auto;
    margin: 1rem 0 5.5rem 0;
    justify-content: center;

}

.logo-container img {
    width: 6%;
    object-fit: contain;
}

.logo-container p {
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 1.4rem;
    align-self: flex-end;
    margin: 0 0 0.1rem 0.2rem;
    color: white;
    text-decoration: none;

}

.header-about {
    text-align: center;
}

.header-about h1 {
    margin: 3rem 1rem;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: .1rem;

}

.header-about p {
    width: 75%;
    margin: auto;
    font-family: Poppins, serif;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: .17 rem;
}

/* Main Section */

.main-section {
    font-family: Poppins, serif;
    position: relative;
}

/* Search */

.search-container {
    border-radius: 7px;
    background-color: #ECECEC;
    width: 90%;
    height: 3rem;
    margin: auto auto 3rem auto;
    display: flex;
}

.search-container img {
    width: 3%;
    object-fit: contain;
    margin: 0 0.3rem 0 0.7rem;
}

.search-container input {
    border: none;
    border-radius: 7px;
    background: none;
    object-fit: contain;
    font-weight: 500;
    color: #7E7E83;
    flex-grow: 4;
}

.search-container input:focus {
    outline: none;
}

/* Filter */

.filter-container {
    display: flex;
    flex: 1;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.filter-item {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    width: 10rem;
}

.filter-button {
    border-radius: 7px;
    background-color: #2B2B32;
    height: 2.4em;
    display: flex;
    flex: 0;
    flex-direction: row;
    cursor: pointer;
    justify-content: center;
}

.filter-button.active {
    border: white 0.5px solid;
}

.filter-button img {
    object-fit: contain;
    margin: 0 0 0 0.5rem;
}

.filter-title {
    margin: auto 0.5rem auto 0.8rem;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.dropdown-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto 0.5rem auto 0.5rem;
}

.filter-content {
    color: white;
    border-radius: 7px;
    background-color: #2B2B32;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.filter-content p {
    margin: auto 1.01rem;
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
}

.hidden {
    display: none;
}

/* Gallery */

.gallery-container {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #02010A;
    scrollbar-width: none;
}

.gallery-item {
    flex: 0 1 90%;
    border-radius: 10px;
    background-color: white;
    filter: drop-shadow(0px 1px 3px grey);
    margin-bottom: 1.01rem;
    height: 25rem;
    overflow: hidden;
    overflow-y: scroll;
}

.gallery-link {
    text-decoration: none;
}

.gallery-item h1 {
    font-size: 1.13rem;
    font-weight: 700;
    color: black;
    margin-bottom: 0.2rem;
}

.gallery-item h1,
.gallery-item p {
    padding: 0 5%;
}

.gallery-image {
    height: 50%;
}

.gallery-image img {
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.tag-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    padding: 0 3%;
}

.tag-item {
    border-radius: 16px;
    background-color: #2B2B32;
    height: 1.5rem;
    display: flex;
    flex: 0;
    flex-direction: row;
    cursor: pointer;

}

.tag-item img {
    object-fit: contain;
    margin: 0 0 0 0.5rem;
    width: 1rem;
}

.tag-item p {
    margin: auto 0.8rem auto 0.1rem;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

/* Game Page */

.game-header {
    background-color: #02010A;
    height: 8vh;
    color: white;
    display: block;
}

.game-about {
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    position: relative;
    min-height: 80vh;
    display: flex;
    flex-direction: column;

}

.back-container {
    margin: 1rem;
}

.back-button {
    border-radius: 7px;
    background-color: #2B2B32;
    height: 1.75rem;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    color: white;
    font-family: Poppins, serif;
    font-weight: 700;
    font-size: 1.3rem;
    width: fit-content;

}

.back-button img {
    object-fit: contain;
    margin: 0 0 0 0.5rem;
    width: 1rem;
}

.back-button p {
    margin: auto 0.8rem auto 0.1rem;
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
}

.game-main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.game-images {
    border: black solid 4px;
    border-radius: 10px;
    flex: 0 1 40%;
    display: flex;
}

.game-images img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 10px;
}

.game-content {
    background-color: #000002;
    opacity: 0.8;
    flex: 0 1 50%;
    font-family: Poppins, serif;
    color: white;
    border-radius: 10px;
}

.game-descr {
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.game-content h1 {
    font-weight: 700;
}

.game-descr .tag-container {
    gap: 0.3rem;
    padding: 0 0 0.75rem 0;
}

.game-descr .tag-item {
    border-radius: 7px;
}

.game-info-container {
    display: flex;
    flex-direction: row;
    padding-top: 0.5rem;
    align-items: center;
    gap: 0.5rem;
}

.game-info-item {
    border-radius: 7px;
    background-color: #2B2B32;
    height: 2rem;
    display: flex;
    flex-direction: row;
    padding: 0 0.75rem;
    align-items: center;

}

.play {

    display: flex;
    flex-direction: column;
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-weight: 500;
    font-size: 1rem;
    width: fit-content;
    background-color: #2B2B32;

}

.play a {
    text-decoration: none;
    color: white;
}

.play p {
    margin: 0.5rem;
    font-size: 1.2rem;
}

@media (min-width: 768px) {

    /* General */
    * {
        box-sizing: border-box;
    }

    html,
    body {
        background-color: #000002;
    }

    /* Header */

    header {
        background-image: url(../public/img/header.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        position: relative;
        height: 80vh;
    }

    .overlay {
        background: rgba(0, 0, 0, 0.8);
        height: 80vh;
        position: absolute;
        top: 0;
        left: 0;
    }

    .logo-container {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-bottom: 5.5rem;
        padding: 1rem 0 0 1rem;
        justify-content: left;

    }

    .logo-container img {
        width: 3%;
        object-fit: contain;
    }

    .logo-container p {
        font-family: Poppins, serif;
        font-weight: 700;
        font-size: 1.4rem;
        align-self: flex-end;
        margin: 0 0 0.1rem 0.2rem;
        color: white;
        text-decoration: none;

    }

    .header-about {
        text-align: center;
    }

    .header-about h1 {
        margin: 4.5rem;
        font-family: Poppins, serif;
        font-weight: 700;
        font-size: 2rem;
        letter-spacing: .1rem;

    }

    .header-about p {
        width: 50%;
        margin: auto;
        font-family: Poppins, serif;
        font-weight: 500;
        font-size: 1.1rem;
        letter-spacing: .17 rem;
    }

    /* Main Section */

    .main-section {
        font-family: Poppins, serif;
        position: relative;
        margin-top: -10rem;
    }

    /* Search */

    .search-container {
        border-radius: 7px;
        background-color: #ECECEC;
        width: 53%;
        height: 3rem;
        margin: auto auto 7rem auto;
        display: flex;
    }

    .search-container img {
        width: 3%;
        object-fit: contain;
        margin: 0 0.3rem 0 0.7rem;
    }

    .search-container input {
        border: none;
        border-radius: 7px;
        background: none;
        object-fit: contain;
        font-weight: 500;
        color: #7E7E83;
        flex-grow: 4;
    }

    .search-container input:focus {
        outline: none;
    }

    /* Filter */

    .filter-container {
        display: flex;
        margin: 0 0 0 1.34rem;
        flex: 1;
        justify-content: left;
        gap: 2.5rem;
    }

    .filter-item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        width: auto;
    }

    .filter-button {
        border-radius: 7px;
        background-color: #2B2B32;
        height: 2.4em;
        display: flex;
        flex: 0;
        flex-direction: row;
        cursor: pointer;
    }

    .filter-button.active {
        border: white 0.5px solid;
    }

    .filter-button img {
        object-fit: contain;
        margin: 0 0 0 0.5rem;
    }

    .filter-title {
        margin: auto 0.5rem auto 0.8rem;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .dropdown-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: auto 0.5rem auto 0.5rem;
    }

    .filter-content {
        color: white;
        border-radius: 7px;
        background-color: #2B2B32;
        display: flex;
        flex-direction: column;
        gap: 0.3rem;
    }

    .filter-content p {
        margin: auto 1.01rem;
        color: white;
        font-weight: 500;
        font-size: 1.1rem;
    }

    .hidden {
        display: none;
    }

    /* Gallery */

    .gallery-container {
        display: flex;
        flex: 1;
        flex-wrap: wrap;
        justify-content: space-evenly;
        background-color: #02010A;
        scrollbar-width: none;
    }

    .gallery-item {
        flex: 0 1 23%;
        border-radius: 10px;
        background-color: white;
        filter: drop-shadow(0px 1px 3px grey);
        margin-bottom: 1.01rem;
        height: 25rem;
        overflow: hidden;
        overflow-y: scroll;
    }

    .gallery-link {
        text-decoration: none;
    }

    .gallery-item h1 {
        font-size: 1.13rem;
        font-weight: 700;
        color: black;
        margin-bottom: 0.2rem;
    }

    .gallery-item h1,
    .gallery-item p {
        padding: 0 5%;
    }

    .gallery-image {
        height: 50%;
    }

    .gallery-image img {
        border-radius: 10px 10px 0 0;
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    .tag-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 3px;
        padding: 0 3%;
    }

    .tag-item {
        border-radius: 16px;
        background-color: #2B2B32;
        height: 1.5rem;
        display: flex;
        flex: 0;
        flex-direction: row;
        cursor: pointer;

    }

    .tag-item img {
        object-fit: contain;
        margin: 0 0 0 0.5rem;
        width: 1rem;
    }

    .tag-item p {
        margin: auto 0.8rem auto 0.1rem;
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
    }

    /* Game Page */

    .game-header {
        background-color: #02010A;
        height: 8vh;
        color: white;
        display: block;
    }

    .game-about {
        background-size: cover;
        background-repeat: no-repeat;
        color: white;
        position: relative;
        min-height: 80vh;
        display: flex;
        flex-direction: column;

    }

    .back-container {
        margin: 1rem;
    }

    .back-button {
        border-radius: 7px;
        background-color: #2B2B32;
        height: 1.75rem;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        color: white;
        font-family: Poppins, serif;
        font-weight: 700;
        font-size: 1.3rem;
        width: fit-content;

    }

    .back-button img {
        object-fit: contain;
        margin: 0 0 0 0.5rem;
        width: 1rem;
    }

    .back-button p {
        margin: auto 0.8rem auto 0.1rem;
        color: white;
        font-weight: 500;
        font-size: 0.9rem;
    }

    .game-main {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-around;
        padding-bottom: 3rem;
    }

    .game-images {
        border: black solid 4px;
        border-radius: 10px;
        flex: 0 1 40%;
        display: flex;
    }

    .game-images img {
        object-fit: cover;
        max-width: 100%;
        min-height: 100%;
        border-radius: 10px;
    }

    .game-content {
        background-color: #000002;
        opacity: 0.8;
        flex: 0 1 50%;
        font-family: Poppins, serif;
        color: white;
        border-radius: 10px;
    }

    .game-descr {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .game-content h1 {
        font-weight: 700;
    }

    .game-descr .tag-container {
        gap: 0.3rem;
        padding: 0 0 0.75rem 0;
    }

    .game-descr .tag-item {
        border-radius: 7px;
    }

    .game-info-container {
        display: flex;
        flex-direction: row;
        padding-top: 0.5rem;
        align-items: center;
        gap: 0.5rem;
    }

    .game-info-item {
        border-radius: 7px;
        background-color: #2B2B32;
        height: 2rem;
        display: flex;
        flex-direction: row;
        padding: 0 0.75rem;
        align-items: center;

    }

    .play {

        display: flex;
        flex-direction: column;
        border-radius: 7px;
        cursor: pointer;
        color: white;
        font-weight: 500;
        font-size: 1rem;
        width: fit-content;
        background-color: #2B2B32;

    }

    .play a {
        text-decoration: none;
        color: white;
    }

    .play p {
        margin: 0.5rem;
        font-size: 1.2rem;
    }

    /* Footer */

    footer {
        width: 100%;
        font-family: Poppins, serif;
        font-weight: 300;
        font-size: 1rem;
    }

    footer h2 {
        font-weight: 600;
        font-size: 1rem;
    }

    .footer-container {
        background-color: #02010A;
        color: white;
        display: flex;
        flex-direction: row;
        margin-top: 0;
        margin-bottom: 0;
        align-items: flex-start;
        gap: 100px;
        width: 100%;
        justify-content: space-between;
    }

    .footer-main {
        display: flex;
        flex-direction: column;
    }

    .footer-logo {
        display: flex;
        flex-direction: row;
        height: auto;
        margin-bottom: 5.5rem;
        padding: 1rem 0 0 2.5rem;

    }

    .footer-logo img {
        width: 20%;
        object-fit: contain;
    }

    .footer-logo p {
        font-family: Poppins, serif;
        font-weight: 700;
        font-size: 1.4rem;
        align-self: flex-end;
        margin: 0 0 0.1rem 0.2rem;
    }

    .footer-right {
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .footer-contact {
        margin-right: 5rem;
    }

}